body, li, a {
    list-style:none;
    text-decoration:none;
}
    a:hover {
        text-decoration: none;
    }
    li:hover {
        text-decoration: none;
    }


h1, h2, h3, span, small, p, li, a {
    color: #74EB1E;
}
.navPersonalizado {
border-radius:0;
}
.navPersonalizado {
padding-right:3em;
box-sizing:border-box;
}
#containe {
    margin: 0 !important;
    min-width: 100%;
}
.navbar {
padding:0 ;
}
.navbar {
    background: linear-gradient(to left, #74EB1E, #2C6D00);
}

